.App {
  text-align: center;
}

.appBody {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.tokensList {
  width: 25vw;
}

.MuiTypography-root {
  cursor: pointer;
}

div.MuiDrawer-root div.MuiDrawer-paper {
  left: 25vw;
  right: auto;
  height: 50vh;
  width: 50vw;
  top: 25%;
}

.card {
  margin: 10px 0px;
}

.tokenCard {
  display: flex;
  flex-direction: row;
}

.tokenDetails {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.tokenDetails h2{
  margin: 10px;
}

.tokenFunctions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.deleteMessage{
  background-color: grey;
  border-radius: 5px;
  color: antiquewhite;
}

/* 



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */